body {
	background-color:#DEDEDE;
	color:#222222;
	font-family:Arial,Helvetica,Sans-serif;
	font-size:13px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
}

#content { margin-left: 2em; }
#container {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	background-color:#DEDEDE;
	border:1px solid #555555;
	margin-left: auto;
	margin-right: auto;
	width:259px;
}

#leftstats {
	float: left;
	position: absolute;
	border: 5px solid #000033;
}
#map {
	width: 600px;
	float: right;
}

h3 {
	color: #F9F9F9;
	background: #000033;
	font-weight: bold;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}
div#startstop {
	background-color:#FFAA00;
	border-top:3px solid #999;
	float:left;
	height:20px;
	width:250px;
	float:left;
}

ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#header {
	padding: 0px;
	margin: 0px;
	height: 64px;
	background-color: #000033;
}


#logo {
	float: left;
}

#time {
	float: right;
	padding-right: 15px;
	color: #FFFFFF;
}

#header ul li a {
	background:#E4ECF2 none repeat scroll 0% 0%;
	border-color:#E4E4E4 rgb(214, 214, 214) rgb(214, 214, 214) rgb(228, 228, 228);
	border-style:solid;
	border-width:1px;
	display:block;
	height:20px;
	margin-bottom:12px;
	padding:3px 5px;
	text-align:center;
	text-decoration:none;
	width:60px;
}
a:hover, a:active {
	color:#D15227;
}
a:link, a:visited {
	color:#3D4D5B;
}

#load {
}

#load_box            { width:250px; height:20px; }  
#load_percent           { background:#FFD700; height:20px; text-align: center;}  

#configtable {
	width: 250px;
}

#infotable {
	width: 250px;
}

.highlight		{ background:#d5fcdc; }
.even			{ background:#fff; }
.mo				{ background:#e3f1fb; }
.odd			{ background:#eee; }
.zebra th		{ padding:5px; background:#ddd; border-bottom:1px solid #999; text-align:left; font-weight:bold; }
.zebra td		{ padding:5px 20px 5px 5px; `-bottom:1px solid #ddd; }
